{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<p>{% translate "Dane nt miasta" %}</p>

<ol>
    <li>Nazwa: {{city.name}}</li>
    <li>Kraj: {{city.country}}</li>
    <li>Cena jabłek: {{city.cost_of_apples}}</li>
    <li>Cena dżinsów: {{city.cost_of_jeans}}</li>
    <li>Cena biletu do kina: {{city.cost_of_cinema_ticket}}</li> 

</ol>
{% endblock %}