{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<form method="post">{% csrf_token %}
     
 
    <p>{% translate "Czy jesteś pewien, że chcesz usunąć miasto?" %}</p>
     
     
        <input type="submit" value="Confirm">
    </form>

{% endblock %}